@import 'fonts.css';

*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

header {
	background: rgba(50,50,50,.5);
	padding: 20px 0;
}

.container-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "any today-box today-box auth";
}

.auth {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-self: center;
	grid-area: auth;
}

.vk-auth > img {
	width: 75px;
	cursor: pointer;
	border-radius: 50%;
	transition: all .2s ease;
}


.container-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "schedule-body calendar-body calendar-body calendar-body any-body" "schedule-body calendar-body calendar-body calendar-body any-body" "schedule-body calendar-body calendar-body calendar-body any-body";
}

.schedule { 
	grid-area: schedule-body;
	padding-top: 10px;
}

.schedule-title {
	position: relative;
	font-weight: normal;
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
}

.schedule-variables {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}

.schedule-title::after {
	position: absolute;
	display: table;
	content: '';
	width: 75%;
	height: 1px;
	background: rgba(0,0,0,.7);
	bottom: -15px;
	left: calc(50% - 142.5px);
}

.schedule-variable {
	padding: 10px;
	user-select: none;
	margin-bottom: 20px;
	cursor: pointer;
}

.schedule-variable:last-child {
	margin: 0;
}


.calendar-body {
	grid-area: calendar-body;
}

.any-body {
	grid-area: any-body;
}

.today-box {
	grid-area: today-box;
	text-align: left;
	font-size: 32px;
	text-transform: capitalize;
}

.monthes-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1px;
}

.month {	
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 1px 0 #000;
}	

.month-title{
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	font-size: 28px;
	margin-bottom: 20px;
}

.month-daysName,
.month-days {
	display: grid;
	grid-template-columns: repeat(7,1fr);
	font-size: 18px;
	text-transform: uppercase;
}

.month-days > p {
	cursor: pointer;
	font-size: 20px;
	width: 100%;
	height: 51.4px;
	line-height: 51.4px;
}

.month-days > p:hover,
.schedule-variable:hover {
	background: rgba(0,0,0,.4);
}

.hollyday{
	color: red;
}

.current-month {
	box-shadow: 0 0 1px 0 #000;
}

.today {
	box-shadow: 0 0 2px 1px #000;
}

.day {
	user-select: none;
}

.selectedSchedule,
.selectedDay {
	background: rgba(0,0,0,.2);
}