@import 'fonts.css';
*{
	padding: 0;
	margin: 0;
}

body {
	
	font-family: 'Lato', sans-serif;
}

.sidebar {
	display: none;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.today-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 20px 0;
	text-align: center;
	font-size: 32px;
	text-transform: capitalize;
}

.monthes-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 5px;
}

.month {	
	padding: 10px;
	text-align: center;
	transition: box-shadow .1s ease;
}	

.month-title{
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	font-size: 28px;
	margin-bottom: 20px;
}

.month-daysName,
.month-days {
	display: grid;
	grid-template-columns: repeat(7,1fr);
	font-size: 20px;
	text-transform: uppercase;
}

.month-days > p {
	cursor: pointer;
	font-size: 20px;
	line-height: 42.56px;
	height: 42.56px;

}

.month-days > p:hover {
	background: #ff6565;
}

.hollyday{
	color: red;
}

.current-month {
	border: 1px solid #888;
}

.today {
	box-shadow: 0 0 1px #000;
	background: rgba(0,0,0,.3);
}

.day {
	user-select: none;
}

.selectedDay {
	background: #ffc0c0;
}